<div class="page-wraper">

    <!-- Header Star -->
    
    <!-- Header End -->
    
    <div class="page-content bg-light">
    
      <div class="main-slider-wrapper">
        <div class="slider-inner">
          <div class="row">
            <div class="col-lg-6">
              <div class="slider-main">
                <div class="slick-slide">
                  <div class="content-info">
                    <h1 class="title">¿Quieres comprar en China o USA?  </h1>
                    <div class="swiper-meta-items">
                      <div class="meta-content">
                        <span class="price-num d-inline-block">¿Tienes una idea? ¡Hazla realidad aquí!</span>
                        <span class="price-num d-inline-block">Dinos que productos quieres importar</span>
                      </div>
                    </div>
                    <div class="content-btn m-b30">
                      <a  class="btn btn-secondary me-xl-3 me-2 btnhover20" (click)="global.setRoute('contact')">Haz click aquí</a>
                    </div>
                  </div>
                </div>
                <div class="slick-slide">
                  <div class="content-info">
                    <h1 class="title">Productos bajo pedido</h1>
                    <div class="swiper-meta-items">
                      <div class="meta-content">
                        <span class="price-num d-inline-block">No esperes más: ¡Hazlo tuyo hoy!</span>
                        <span class="price-num d-inline-block">Dinos que producto te gustaria</span>
                      </div>
                    </div>
                    <div class="content-btn m-b30">
                      <a (click)="global.setRoute('contact')" class="btn btn-secondary me-xl-3 me-2 btnhover20">En este formulario</a>
                    </div>
                  </div>
                </div>
                <div class="slick-slide">
                  <div class="content-info">
                    <h1 class="title">Alicompras, nos encontramos en </h1>
                    <div class="swiper-meta-items">
                      <div class="meta-content">
                        <span class="price-num d-inline-block">Mérida, Venezuela</span><br> <span class="price-num d-inline-block">y en </span>
                        <span class="price-num d-inline-block" href="https://alicompras.com/" target="_blank"> Colombia</span> <br>
                        <span class="price-name">Proximamente en ....</span>

                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
            <div class="col-lg-6">
              <div class="slider-thumbs">
                <div class="slick-slide">
                  <div class="banner-media" data-name="IMPORTACIONES">
                    <div class="img-preview">
                      <img src="images/banner/importacion.png" alt="banner-media">
                    </div>
                  </div>
                </div>
                <div class="slick-slide">
                  <div class="banner-media" data-name="PEDIDOS">
                    <div class="img-preview">
                      <img src="images/banner/compra.png" alt="banner-media">
                    </div>
                  </div>
                </div>
                <div class="slick-slide" >
                  <div class="banner-media" data-name="UBÍCANOS" style="font-size: 12px;">
                    <div class="img-preview">
                      <img src="images/banner/ubicacion.png" alt="banner-media">
                    </div>
                  </div>
                </div>
                <div class="slick-slide">
                  <div class="banner-media" data-name="CONTACTO">
                    <div class="img-preview">
                      <img src="images/banner/banner-media4.png" alt="banner-media">
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
          <div class="bottom-content align-items-end wow fadeInUp" data-wow-delay="1.0s">
            <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" viewBox="0 0 76 76" fill="none">
              <path d="M52.6617 37.6496L58.7381 40.0325L75.0609 49.0874L66.6016 63.7422L49.9214 54.6872L45.1557 50.7554L46.1088 57.1892V75.18H28.952V57.1892L30.0243 50.5171L24.9011 54.6872L8.45924 63.7422L0 49.0874L16.3228 39.7942L22.3991 37.6496L16.3228 35.1475L0 26.2117L8.45924 11.557L25.1394 20.4928L30.0243 24.6629L28.952 18.3482V0H46.1088V18.3482L45.1557 24.4246L49.9214 20.4928L66.6016 11.557L75.0609 26.2117L58.7381 35.3858L52.6617 37.6496Z" fill="black" />
            </svg>
            <div>
              <span class="sub-title">ALICOMPRAS</span>
              <h4 class="title">Productos importados</h4>
            </div>
          </div>
          <svg class="star-1" xmlns="http://www.w3.org/2000/svg" width="94" height="94" viewBox="0 0 94 94" fill="none">
            <path d="M47 0L53.8701 30.4141L80.234 13.766L63.5859 40.1299L94 47L63.5859 53.8701L80.234 80.234L53.8701 63.5859L47 94L40.1299 63.5859L13.766 80.234L30.4141 53.8701L0 47L30.4141 40.1299L13.766 13.766L40.1299 30.4141L47 0Z" fill="#FEEB9D" />
          </svg>
          <svg class="star-2" xmlns="http://www.w3.org/2000/svg" width="82" height="94" viewBox="0 0 82 94" fill="none">
            <path d="M41 0L45.277 39.592L81.7032 23.5L49.554 47L81.7032 70.5L45.277 54.408L41 94L36.723 54.408L0.296806 70.5L32.446 47L0.296806 23.5L36.723 39.592L41 0Z" fill="black" />
          </svg>
         
        </div>
      </div>
      
      <!-- Shop Section Start -->
      <section class="shop-section overflow-hidden">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-lg-8 left-box">
              <div class="swiper swiper-shop">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let categoria of (realtimecategorias.categorias$ | async)">
                    <div class="shop-box style-1 wow fadeInUp" data-wow-delay="0.2s">
                      <div class="dz-media">
                         
                        <img  src="{{categoria.files[0]}}" alt="image" *ngIf="categoria.files.length > 0" style="width: 50%;">
                      </div>
                      <h6 class="product-name"><a (click)="global.setRoute('shop')">
                        {{categoria.name}}
                      </a></h6>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 right-box">
              <div>
                <h3 class="title wow fadeInUp" data-wow-delay="1.2s">Categorias</h3>
                <p class="text wow fadeInUp" data-wow-delay="1.4s">Descubre los productos tendencia en Alicompras.</p>
                <div class="pagination-align wow fadeInUp" data-wow-delay="1.6s" style="color:white;">
                  <div class="shop-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                      <path d="M32.2645 16.9503H4.08145L10.7508 10.4669C11.2604 9.97176 10.5046 9.1837 9.98813 9.68289C9.98815 9.68286 2.35193 17.1063 2.35193 17.1063C2.12911 17.3092 2.14686 17.6755 2.35196 17.8903C2.35193 17.8903 9.98815 25.3169 9.98815 25.3169C10.5021 25.81 11.2622 25.0367 10.7508 24.5328C10.7508 24.5329 4.07897 18.0441 4.07897 18.0441H32.2645C32.9634 18.0375 32.9994 16.9636 32.2645 16.9503Z" fill="white"/>
                    </svg>
                  </div>
                  <div class="shop-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                      <path d="M2.73549 16.9503H30.9186L24.2492 10.4669C23.7396 9.97176 24.4954 9.1837 25.0119 9.68289L32.6481 17.1063C32.8709 17.3092 32.8531 17.6755 32.648 17.8903L25.0118 25.3169C24.4979 25.81 23.7378 25.0367 24.2492 24.5328L30.921 18.0441H2.73549C2.03663 18.0375 2.00064 16.9636 2.73549 16.9503Z" fill="white"/>
                    </svg>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- Shop Section End -->
      
      <!-- About Section Start -->
      <section class="content-inner overflow-hidden">
        <div class="container">
          <div class="row about-style1">
            <div class="col-lg-6 col-md-12 m-b30">
              <div class="about-thumb wow fadeInUp  position-relative" data-wow-delay="0.2s">
                <div class="dz-media h-100">	
                  <img src="images/women.png" alt="">
                </div>	
                <a (click)="global.setRoute('about')" class="btn btn-outline-secondary btn-light btn-xl">Alicompras - Importaciones</a>	
              </div>
            </div>
            <div class="col-lg-6 col-md-12 align-self-center">
              <div class="about-content">
                <div class="section-head style-1 wow fadeInUp" data-wow-delay="0.4s">
                  <h3 class="title ">¡Bienvenido a Alicompras.com, tu tienda importadora en línea de confianza!</h3>
                    <p> En Alicompras, nos apasiona ofrecerte una experiencia de compra única: rápida, segura y completamente confiable. Nos hemos comprometido desde nuestros inicios a seleccionar los mejores productos de distintas categorías para ti, garantizando siempre calidad, innovación y precios que se ajustan a tu bolsillo.

                      Explora nuestro extenso catálogo, que incluye lo mejor en belleza y cuidado personal, tecnología de última generación, artículos para el hogar y productos pensados para tu bienestar y entretenimiento. Y lo mejor de todo: ¡envíos rápidos y pago contra entrega disponible en Mérida! Así, podrás disfrutar de tu compra con total tranquilidad y sin complicaciones.
                      
                      Tu satisfacción es nuestra prioridad. Nos esforzamos por ofrecerte un servicio excepcional, brindándote asesoría personalizada en cada paso y promociones exclusivas para que consigas lo que necesitas desde la comodidad de tu hogar.
                      
                      <p> 
                        <ul> 
                          <li>🚚 ¡Envío Gratis en Mérida! Disfruta de tu compra sin costo adicional.</li> 
                          <li>💳 Amplia variedad de métodos de pago, ¡para tu mayor comodidad!</li> 
                          <li>🌟 Productos innovadores para todas tus necesidades.</li> 
                          <li>Alicompras.com – ¡Todo lo que buscas, en un solo clic!</li> 
                        </ul> 
                      <p>¡Te invitamos a vivir la mejor experiencia de compra online con nosotros!</p>
              </div>
                <a class="service-btn-2 wow fadeInUp" data-wow-delay="0.6s" (click)="global.setRoute('about')">
                  <span class="icon-wrapper">
                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.832 31.1663L31.1654 12.833" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12.832 12.833H31.1654V31.1663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                </a>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop-card style-6 wow fadeInUp" data-wow-delay="0.8s">
                      <div class="dz-media">
                        <img src="images/shop/product/medium/1.png" alt="image">
                      </div>
                      <div class="dz-content">
                        <a (click)="global.setRoute('contact')" class="btn btn-outline-secondary btn-light btn-md">¿Quieres comprar en USA?</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop-card style-6 wow fadeInUp" data-wow-delay="1.0s">
                      <div class="dz-media">
                        <img src="images/shop/product/medium/2.png" alt="image">
                      </div>
                      <div class="dz-content">
                        <a (click)="global.setRoute('contact')" class="btn btn-outline-secondary btn-light btn-md">¿Deseas importar desde China?</a>
                      </div>
                      <span class="sale-badge">- 5%<br>Nuevas alianzas <img src="images/star.png" alt=""></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
      
      <!-- Products Section Start -->
      <section class="content-inner">
        <div class="container">
          <div class=" row justify-content-md-between align-items-start">
            <div class="col-lg-6 col-md-12">
              <div class="section-head style-1 m-b30  wow fadeInUp" data-wow-delay="0.2s">
                <div class="left-content">
                  <h2 class="title">Productos recientes</h2>
                </div>
              </div>	
            </div>
            
            <div class="col-lg-6 col-md-12">
              <div class="site-filters clearfix style-1 align-items-center wow fadeInUp ms-lg-auto" data-wow-delay="0.4s" >
                      <ul class="filters" data-bs-toggle="buttons">                        
                      <li  class="btn me-2" *ngFor="let categoria of (realtimecategorias.categorias$ | async)" >
                          <input type="radio">
                          <a >{{categoria.name}}</a> 
                      </li>
                  </ul>	
              </div>
          </div>
          </div>
          <div class="clearfix">
            <ul id="masonry" class="row g-xl-4 g-3">
              <li  *ngFor="let producto of (realtimeproductos.productos$ | async); let i = index"
              [hidden]="i >=8"
              class="card-container col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 Tops wow fadeInUp" data-wow-delay="0.6s">
                <div class="shop-card">
                  <div class="dz-media">
                    <img src="{{producto.files[0]}}" alt="image" 
                    (click)="global.setQuick(producto)" 
                    style="cursor: pointer; width: 400px; height: 400px; object-fit: fill;">
                    <div class="row shop-meta">
                      <a  class="col-6 btn btn-secondary btn-md btn-rounded" 
                      (click)="global.setQuick(producto)"
                      data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-eye d-md-none d-block"></i>
                        <span class="d-md-block d-none" style="cursor: pointer;">Vista Rápida</span>
                      </a>
                      
                      <div class="btn btn-primary meta-icon dz-carticon">
                        <i class="flaticon flaticon-basket"></i>
                      </div>
                    </div>							
                  </div>
                  <div class="dz-content">
                    <h5 class="title"><a >{{producto.name}}</a></h5> 
                    <h5 class="price">$USD {{producto.price}}</h5>
                  </div>
                </div>
              </li>
         
            </ul>
          </div>
        </div>
      </section>
      <!-- Products Section Start -->
    
      <!-- Collection Section Start -->
      <section class="adv-area">
        <div class="container-fluid px-0">
          <div class="row product-style2 g-0">
            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
              <div class="product-box style-4">
                <div class="product-media" style="background-image: url('images/shop/large/product1.png');"></div>
                <div class="sale-box">
                  <div class="badge style-1 mb-1">Sale Up to 50% Off</div>	
                  <h2 class="sale-name">Summer<span>2024</span></h2>
                  <a (click)="global.setRoute('product-details')" class="btn btn-outline-secondary btn-lg text-uppercase">Shop Now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.2s">
              <div class="product-box style-4">
                <div class="product-media" style="background-image: url('images/shop/large/product2.png');"></div>
                <div class="product-content">
                  <div class="main-content">
                    <div class="badge style-1 mb-3">Sale Up to 50% Off</div>
                    <h2 class="product-name">New Summer Collection</h2>
                  </div>
                  <a (click)="global.setRoute('product-details')" class="btn btn-secondary btn-lg text-uppercase">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Collection Section End -->
      
    
      <!-- Blockbuster deal Start -->
     <!--  <section class="content-inner-2 overflow-hidden">
        <div class="container">
          <div class="section-head style-1 wow fadeInUp d-lg-flex justify-content-between" data-wow-delay="0.2s">
            <div class="left-content">
              <h2 class="title">Productos destacados</h2>
            </div>
            <a (click)="global.setRoute('product-details')" class="text-secondary font-14 d-flex align-items-center gap-1">See all deals 
              <i class="icon feather icon-chevron-right font-18"></i>
            </a>			
          </div>
          <div class="swiper swiper-four swiper-visible">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="shop-card style-2 wow fadeInUp" data-wow-delay="0.4s">
                  <div class="dz-media">
                    <img src="images/shop/product/shart/1.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <div>
                      <span class="sale-title">up to 79% off</span>
                      <h5 class="title"><a (click)="global.setRoute('product-details')">Printed Spread Collar Casual Shirt</a></h5>
                    </div>
                    <h6 class="price">
                      $80
                      <del>$95</del>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card style-2 wow fadeInUp" data-wow-delay="0.6s">
                  <div class="dz-media">
                    <img src="images/shop/product/shart/2.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <div>
                      <span class="sale-title">up to 79% off</span>
                      <h5 class="title"><a (click)="global.setRoute('product-details')">Checkered Slim Collar Casual Shirt</a></h5>
                    </div>
                    <h6 class="price">
                      $80
                      <del>$95</del>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card style-2 wow fadeInUp" data-wow-delay="0.8s">
                  <div class="dz-media">
                    <img src="images/shop/product/shart/3.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <div>
                      <span class="sale-title">up to 79% off</span>
                      <h5 class="title"><a (click)="global.setRoute('product-details')">Solid Cut Away Collar Casual Shirt</a></h5>
                    </div>
                    <h6 class="price">
                      $80
                      <del>$95</del>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card style-2 wow fadeInUp" data-wow-delay="1.0s">
                  <div class="dz-media">
                    <img src="images/shop/product/shart/4.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <div>
                      <span class="sale-title">up to 79% off</span>
                      <h5 class="title"><a (click)="global.setRoute('product-details')">Printed Spread Collar Casual Shirt</a></h5>
                    </div>
                    <h6 class="price">
                      $80
                      <del>$95</del>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card style-2 wow fadeInUp" data-wow-delay="1.2s">
                  <div class="dz-media">
                    <img src="images/shop/product/shart/5.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <div>
                      <span class="sale-title">up to 79% off</span>
                      <h5 class="title"><a (click)="global.setRoute('product-details')">Checkered Spread Collar Casual Shirt</a></h5>
                    </div>
                    <h6 class="price">
                      $80
                      <del>$95</del>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Blockbuster deal Start -->
    
      
    </div>
</div>