<header class="site-header mo-left header style-1 header-transparent">		
  <!-- Main Header -->
  <div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix">
      <div class="container-fluid clearfix d-lg-flex d-block">
        
        <!-- Website Logo -->
        <div class="logo-header logo-dark me-md-5">
          <a (click)="global.setRoute('home')"><img src="images/logo.png" alt="logo"></a>
        </div>
        
        <!-- Nav Toggle Button -->
          <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" 
            (click)="toggleMenu()">
              <span></span>
              <span></span>
              <span></span>
          </button>

          <div class="mobile-buttons d-lg-none">
            <div class="extra-cell">	
              <ul class="header-right">
                <li class="nav-item cart-link">
                  <a href="javascript:void(0);" class="nav-link cart-btn" (click)="toggleCart()">
                    <i class="iconly-Broken-Buy"></i>
                    <span class="badge badge-circle">{{ carTotalPrice }}</span>
                  </a>
                </li>
                <!-- Puedes añadir más botones aquí si es necesario -->
              </ul>
            </div>
          </div>
      
        <!-- Main Nav -->
      
        <div class="header-nav w3menu navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
          <!-- Encabezado del menú móvil con botón de cerrar -->
          <div class="mobile-menu-header d-flex justify-content-between align-items-center p-3 bg-light">
            <div class="logo-header logo-dark">
              <a (click)="closeMenuAndNavigate('home')"><img src="images/logo.png" alt=""></a>
            </div>
            <button class="btn-close btn-close-black mobile-close-btn" type="button" (click)="toggleMenu()" aria-label="Cerrar" style="    background: #002446;
            opacity: 1;
            text-align: center;
            line-height: initial; 
            
            "> <i class="fa fa-close text-white"></i></button>
            
          </div>
        
          <ul class="nav navbar-nav p-3">
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('home')"><a>Inicio</a></li>
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('about')"><a>Nosotros</a></li>
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('shop')"><a>Tienda</a></li>
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('contact')"><a>Contacto</a></li>
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('dashboard')" *ngIf="authService.isLogin()"><a>Dashboard</a></li>
          </ul>
          
          <div class="dz-social-icon p-3">
            <ul>
              <li><a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/"></a></li>
              <li><a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/dexignzone/"></a></li>
              <li><a class="fab fa-youtube" target="_blank" href="https://www.youtube.com/"></a></li>
              <li><a class="fab fa-tiktok" target="_blank" href="https://www.tiktok.com/"></a></li>
              <li><a class="fab fa-whatsapp" target="_blank" href="https://www.whatsapp.com/"></a></li>
            </ul>
          </div>
        </div>
      
        <!-- EXTRA NAV -->
        <div class="mobile-bottom-nav">
          <div class="extra-nav">
            <div class="extra-cell">						
              <ul class="header-right">
                <li [hidden] ="authService.isLogin()" class="nav-item login-link" >
                  <a  class="nav-link" (click)="global.setRoute('login')" style="cursor: pointer;">
                    Ingresar / Registrate
                  </a>
                </li>
                <li [hidden] ="!authService.isLogin()" class="nav-item login-link" >
                  <a  class="nav-link" (click)="authService.logoutUser()" style="cursor: pointer;">
                    Cerrar Sesion
                  </a>
                </li>
                <li class="nav-item search-link">
                  <a class="nav-link" href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <i class="iconly-Light-Search"></i>
                  </a>
                </li>
                <li class="nav-item cart-link">
                  <a  class="nav-link cart-btn"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="iconly-Broken-Buy"></i>
                    <span class="badge badge-circle">{{ carItemsCount }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> 
        
      </div>
    </div>
  </div>
  <!-- Main Header End -->
  
  <!-- SearchBar -->
  <div class="dz-search-area dz-offcanvas offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      &times;
    </button>
    <div class="container">
      <form class="header-item-search">
        <div class="input-group search-input">
          <select class="default-select">
            <option>All Categories</option>
            <option>Clothes</option>
            <option>UrbanSkirt</option>
            <option>VelvetGown</option>
            <option>LushShorts</option>
            <option>Vintage</option>
            <option>Wedding</option>
            <option>Cotton</option>
            <option>Linen</option>
            <option>Navy</option>
            <option>Urban</option>
            <option>Business Meeting</option>
            <option>Formal</option>
          </select>
          <input type="search" class="form-control" placeholder="Search Product">
          <button class="btn" type="button">
            <i class="iconly-Light-Search"></i>
          </button>
        </div>
        <ul class="recent-tag">
          <li class="pe-0"><span>Quick Search :</span></li>
          <li><a href="shop-list.html">Clothes</a></li>
          <li><a href="shop-list.html">UrbanSkirt</a></li>
          <li><a href="shop-list.html">VelvetGown</a></li>
          <li><a href="shop-list.html">LushShorts</a></li>
        </ul>
      </form>
      <div class="row">
        <div class="col-xl-12">
          <h5 class="mb-3">You May Also Like</h5>
          <div class="swiper category-swiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/1.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">SilkBliss Dress</a></h6>
                    <h6 class="price">$40.00</h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/3.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">GlamPants</a></h6>
                    <h6 class="price">$30.00</h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/4.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">ComfyLeggings</a></h6>
                    <h6 class="price">$35.00</h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/2.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">ClassicCapri</a></h6>
                    <h6 class="price">$20.00</h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/5.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">DapperCoat</a></h6>
                    <h6 class="price">$70.00</h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/6.png" alt="image">
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">ComfyLeggings</a></h6>
                    <h6 class="price">$45.00</h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/7.png" alt="image">	
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">DenimDream Jeans</a></h6>
                    <h6 class="price">$40.00</h6>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="shop-card">
                  <div class="dz-media ">
                    <img src="images/shop/product/4.png" alt="image">	
                  </div>
                  <div class="dz-content">
                    <h6 class="title"><a href="shop-list.html">SilkBliss Dress</a></h6>
                    <h6 class="price">$60.00</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SearchBar -->
  
  <!-- Sidebar cart -->
  <div class="offcanvas dz-offcanvas offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">&times;</button>
    <div class="offcanvas-body">
      <div class="product-description">
        <div class="dz-tabs">
          <ul class="nav nav-tabs center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="shopping-cart" data-bs-toggle="tab" data-bs-target="#shopping-cart-pane" type="button" role="tab" aria-controls="shopping-cart-pane" aria-selected="true">Carrito de compra
                <span class="badge badge-light">{{ carItemsCount }}</span>
              </button>
            </li>
          </ul>
          <div class="tab-content pt-4" id="dz-shopcart-sidebar">
            <div class="tab-pane fade show active" id="shopping-cart-pane" role="tabpanel" aria-labelledby="shopping-cart" tabindex="0">
              <div class="shop-sidebar-cart">
               <!-- En head.component.html -->
               <ul class="sidebar-cart-list">
                <li *ngFor="let item of carItems">
                  <div class="cart-widget">
                    <div class="dz-media me-3">
                      <img [src]="item.image" alt="{{ item.name }}">
                    </div>
                    <div class="cart-content">
                      <h6 class="title"><a>{{ item.name }}</a></h6>
                      <div class="d-flex align-items-center">
                        <div class="btn-quantity light quantity-sm me-3">
                          <input type="text" [value]="item.quantity" name="demo_vertical2" readonly>
                          <span class="quantity-text">x{{ item.quantity }}</span>
                        </div>
                        <h6 class="dz-price mb-0">${{ item.price * item.quantity }}</h6>
                      </div>
                    </div>
                    <a href="javascript:void(0);" class="dz-close" (click)="removeFromCart(item.productId)">
                      <i class="ti-close"></i>
                    </a>
                  </div>
                </li>
              </ul>
                <div class="cart-total">
                  <h5 class="mb-0">Subtotal:</h5>
                  <h5 class="mb-0">${{ carTotalPrice }}</h5>
                </div>
                <div *ngIf="carItems.length === 0" class="empty-cart-message">
                  <i class="iconly-Broken-Buy"></i>
                  <p>Tu carrito está vacío</p>
                </div>
                <div class="mt-auto">
                  <div class="shipping-time">
                    <div class="dz-icon">
                      <i class="flaticon flaticon-delivery-truck"></i>
                    </div>
                    <div class="shipping-content">
                      <h6 class="title pe-4">Felicitaciones, usted tiene envío gratis!</h6>
                      <div class="progress">
                        <div class="progress-bar progress-animated border-0" style="width: 100%;" role="progressbar">
                          <span class="sr-only">100% Completado</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a (click)="global.setRoute('checkout')" class="btn btn-outline-secondary btn-block m-b20">Checkout</a>
                  <a (click)="global.setRoute('car')" class="btn btn-secondary btn-block">Ver Carrito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar cart -->

  <!-- Sidebar finter -->
  <div class="offcanvas dz-offcanvas offcanvas offcanvas-end " tabindex="-1" id="offcanvasLeft">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      &times;
    </button>
    <div class="offcanvas-body">
      <div class="product-description">
        <div class="widget widget_search">
          <div class="form-group">
            <div class="input-group">
              <input name="dzSearch" required="required" type="search" class="form-control" placeholder="Search Product">
              <div class="input-group-addon">
                <button name="submit" value="Submit" type="submit" class="btn">
                  <i class="icon feather icon-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <a href="javascript:void(0);" class="btn btn-sm font-14 btn-secondary btn-sharp">RESET</a>
      </div>
    </div>
  </div>
  <!-- filter sidebar -->
  
</header>