<div class="page-content bg-light">
    <!--Banner Start-->
    <div class="dz-bnr-inr bg-secondary overlay-black-light" style="background-image:url(images/background/bg1.jpg);">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Shop Checkout</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a> Inicio</a></li>
                        <li class="breadcrumb-item">Checkout</li>
                    </ul>
                </nav>
            </div>
        </div>	
    </div>
    <!--Banner End-->

    <!-- inner page banner End-->
    <div class="content-inner-1">
        <div class="container">
            <div class="row shop-checkout">
                <div class="col-xl-8">
                    <h4 class="title m-b15">Información de contácto</h4>
                      
                   <!--  <form class="row">
                        <div class="col-md-6">
                            <div class="form-group m-b25">
                                <label class="label-title">Nombre y apellido</label>
                                <input name="dzName" required="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-b25">
                                <label class="label-title">Telefono</label>
                                <input name="dzName" required="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-b25">
                                <label class="label-title">Correo Electrónico *</label>
                                <input name="dzName" required="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-b25">
                                <label class="label-title">Estado *</label>
                                <select class="default-select form-select w-100">
                                    <option selected>India</option>
                                    <option value="1">Another option</option>
                                    <option value="2">UK</option>
                                    <option value="3">Iraq</option>
                                </select>	
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-b25">
                                <label class="label-title">Ciudad *</label>
                                <select class="default-select form-select w-100">
                                    <option selected>Kota</option>
                                    <option value="1">Another option</option>
                                    <option value="2">Jaipur</option>
                                    <option value="3">Udaipur</option>
                                </select>	
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-b25">
                                <label class="label-title">Dirección *</label>
                                <input name="dzName" required="" class="form-control m-b15" placeholder="Calle y nombre de la calle">
                                <input name="dzName" required="" class="form-control" placeholder="Apartamento, suite, unidad, etc. (opcional)">
                            </div>
                        </div>
                        <div class="col-md-12 m-b25">
                            <div class="form-group">
                                <label class="label-title">Notas del pedido (opcional)</label>
                                <textarea id="comments" placeholder="Notas sobre su pedido, por ejemplo, notas para la entrega." class="form-control" name="comment" cols="90" rows="5" required="required"></textarea>
                            </div>
                        </div>
                    </form> -->
                    <form class="row" id="checkoutForm">
                        <div class="col-md-6">
                            <div class="form-group m-b25">
                                <label class="label-title">Nombre y apellido</label>
                                <input name="name" required class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-b25">
                                <label class="label-title">Teléfono</label>
                                <input name="phone" required class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-b25">
                                <label class="label-title">Correo Electrónico *</label>
                                <input name="email" required class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-b25">
                                <label class="label-title">Estado *</label>
                                <select name="state" class="default-select form-select w-100">
                                    <option selected>India</option>
                                    <option value="1">Another option</option>
                                    <option value="2">UK</option>
                                    <option value="3">Iraq</option>
                                </select>	
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-b25">
                                <label class="label-title">Ciudad *</label>
                                <select name="city" class="default-select form-select w-100">
                                    <option selected>Kota</option>
                                    <option value="1">Another option</option>
                                    <option value="2">Jaipur</option>
                                    <option value="3">Udaipur</option>
                                </select>	
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-b25">
                                <label class="label-title">Dirección *</label>
                                <input name="address" required class="form-control m-b15" placeholder="Calle y nombre de la calle">
                                <input name="apartment" class="form-control" placeholder="Apartamento, suite, unidad, etc. (opcional)">
                            </div>
                        </div>
                        <div class="col-md-12 m-b25">
                            <div class="form-group">
                                <label class="label-title">Notas del pedido (opcional)</label>
                                <textarea id="comments" placeholder="Notas sobre su pedido, por ejemplo, notas para la entrega." class="form-control" name="comment" cols="90" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" onclick="sendToWhatsApp()">Enviar a WhatsApp</button>
                        </div>
                    </form>
                </div>
                <div class="col-xl-4 side-bar">
                    <h4 class="title m-b15">Su pedido</h4>
                    <div class="order-detail sticky-top">
                        <div class="cart-item style-1">
                            <div class="dz-media">
                                <img src="images/shop/shop-cart/pic1.jpg" alt="/">
                            </div>
                            <div class="dz-content">
                                <h6 class="title mb-0">Sophisticated <br>Swagger Suit</h6>
                                <span class="price">$40.00</span>
                            </div>
                        </div>
                        <div class="cart-item style-1 mb-0">
                            <div class="dz-media">
                                <img src="images/shop/shop-cart/pic2.jpg" alt="/">
                            </div>
                            <div class="dz-content">
                                <h6 class="title mb-0">Cozy Knit Cardigan Sweater</h6>
                                <span class="price">$36.00</span>
                            </div>
                        </div>
                        <table>
                            <tbody>
                                <tr class="subtotal">
                                    <td>Subtotal</td>
                                    <td class="price">$100</td>
                                </tr>
                                <tr class="title">
                                    <td><h6 class="title font-weight-500">Domicilio</h6></td>
                                    <td></td>
                                </tr>
                                <tr class="shipping">
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                          <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            Envio a Mérida
                                          </label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                          <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                          <label class="form-check-label" for="flexRadioDefault2">
                                            Envio a el resto del pais
                                          </label>
                                        </div>
                                    </td>
                                    <td class="price">25.75</td>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <td class="price">$125.75</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="accordion dz-accordion accordion-sm" id="accordionFaq1">
                            <div class="accordion-item">
                                <div class="accordion-header" id="heading1">
                                    <div class="accordion-button collapsed custom-control custom-checkbox border-0" data-bs-toggle="collapse" data-bs-target="#collapse1" role="navigation"  aria-expanded="true" aria-controls="collapse1">
                                        <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Transferencia Bancaria
                                        </label>
                                    </div>
                                </div>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionFaq1">
                                    <div class="accordion-body">
                                        <p class="m-b0">Le enviaremos la información para pago mediante transferencia bancaria</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="heading2">
                                    <div class="accordion-button collapsed custom-control custom-checkbox border-0" data-bs-toggle="collapse" data-bs-target="#collapse2" role="navigation" aria-expanded="true" aria-controls="collapse2">
                                        <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                                        <label class="form-check-label" for="flexRadioDefault5">
                                            Pago contraentrega
                                        </label>
                                    </div>
                                </div>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="collapse2" data-bs-parent="#accordionFaq1">
                                    <div class="accordion-body">
                                        <p class="m-b0">Pague al recibir su pedido.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="heading3">
                                    <div class="accordion-button collapsed custom-control custom-checkbox border-0" data-bs-toggle="collapse" data-bs-target="#collapse3" role="navigation" aria-expanded="true" aria-controls="collapse3">
                                        <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            Paypal /Binance /Zinly
                                        </label>
                                        <!-- <img src="images/shop/payment.jpg" alt="/">
                                        <a href="javascript:void(0);">What is PayPal?</a> -->
                                    </div>
                                </div>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionFaq1">
                                    <div class="accordion-body">
                                        <p class="m-b0">Le enviaremos la información para pago mediante Paypal, Binance, Zelle, Zinly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text"> Su pedido se procesará de forma segura. Su inforamación personal se usara para procesar su pedido, apoyar su experiencia a lo largo de este sitio web y para otros fines descritos en nuestra <a href="javascript:void(0);">política de privacidad</a>.</p>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox d-flex m-b15">
                                <input type="checkbox" class="form-check-input" id="basic_checkbox_3">
                                <label class="form-check-label" for="basic_checkbox_3">Acepto los terminos y condiciones de la web y la politica de privacidad</label>
                            </div>
                        </div>
                        <a class="btn btn-secondary w-100">Hacer pedido</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>